.btns {
    display: flex;
    justify-content: center;
}

.btns-wrap {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 350px;
}

a.brk-btn {
    position: relative;
    background: none;
    color: #15def5;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    text-decoration: none;
    border: 0.2em solid #15def5;
    border-radius: 50px;
    padding: 12px 45px;
}

a.brk-btn:hover {
    border: 0.2em solid #15def5;
    color: #15def5;
}

.brk-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.brk-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.brk-btn:hover::before {
    right: 75%;
}

.brk-btn:hover::after {
    left: 75%;
}