:root {
    /* code */
    --code-theme-background: #282c34;
    /* --code-theme-background: #282c34; */
    --code-theme-text: #f8f8f2;
    --code-font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
    --code-font-size: 14px;

    /* code block */
    --code-block-border-radius: 6px;

    /* inline code */
    --code-inline-color: #476582;
    --code-inline-background: rgba(27, 31, 35,.05);
    --code-inline-border-radius: 3px;

    /* heading */
    --heading-h1-font-size: 30px;
    --heading-h1-font-weight: bold;
    --heading-h1-padding: 20px 0 0px;
    --heading-h2-color: #2c3e50;
    --heading-h2-font-size: 26px;
    --heading-h2-font-weight: bold;
    --heading-h2-margin: 25px 0 15px 0;
    --heading-h2-padding: 0;

    /* cover */
    --cover-button-border-radius: 50px;
    --cover-button-border: 2px solid #37a5da;
    --cover-button-primary-border: 2px solid #37a5da;
    --cover-button-primary-background: #37a5da;
    --cover-heading-font-size-max: 100;
    --cover-heading-font-size-min: 100;
    /* --cover-link-color: white; */
    --cover-link-text-decoration: none;

    /* sidebar */
    --sidebar-toggle-offset-left: 10px;
    --sidebar-toggle-offset-top: 10px;
    --sidebar-toggle-background: none;
    --sidebar-toggle-icon-stroke-width: 3px;
    --sidebar-toggle-icon-height: 12px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    border-top: 1px solid #e3e3e3;
}

h1 b {
    font-size: 70px;
    color: #37a5da;
}

.cover:before {
    content: none;
}

.cover h1 {
    color: #2c3e50;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 50px;
}

.cover h1 small {
    font-size: 20px;
    line-height: 20px
}

.cover blockquote {
    color: #6a8bad;
}

.cover .cover-main {
    max-width: 100%;
}

.content code:not([class*="lang-"]):not([class*="language-"]) {
    border: 1px solid #e4e4e4;
}

.app-sub-sidebar {
    overflow: hidden;
}

.app-sub-sidebar li {
    position: relative;
}

.app-sub-sidebar li:before,
.app-sub-sidebar li:after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
}

.app-sub-sidebar li:before {
    height: 38px;
    width: 1px;
    border-left: 1px dashed #b7b7b7;
}

.app-sub-sidebar li:after {
    height: 1px;
    width: 15px;
    border-top: 1px dashed #b7b7b7;
}

.btns-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    justify-content: center;
}

.btns a:first-child {
    margin-right: 25px;
}

.igh > span {
    display: flex;
    direction: row;
    align-items: center;
}

.igh > span::before {
    content: '';
    height: 30px;
    width: 30px;
    display: block;
    background: url('../images/github-logo.svg') no-repeat center;
    background-size: 100%;
    margin-right: 10px;
}

@media (max-width: 768px) {
    :root {
        --cover-heading-font-size-max: 70;
        --cover-heading-font-size-min: 70;
        --sidebar-toggle-offset-left: 5px;
        --sidebar-toggle-offset-top: 25px;
    }

    .cover h1 {
        margin-top: 20px;
    }

    h1 b {
        font-size: 50px;
    }

    .btns {
        max-width: 220px;
        flex-direction: column;
    }

    .btns a {
        width: 100%;
    }

    .btns a:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
}